.form-length {
    width: 280.2px;
}

.image-collage {
    margin-top: 76px;
}

.image-second {
    margin-top: 24px;
}

/* This is the base.html styles*/

.top {
    margin-top: 100px;
}

.footer-style {
    background-color: #193441;
    color: white;
    padding-top: 15px;
}

.main-style {
    margin-bottom: 55px;
    padding-top: 2px;
    padding-bottom: 5px;
    background-color: #91AA9D;
    color: black;
}

.navbar {
    padding: 0;
    height: 80px;
    background-color: #193441;
}

.nav-style {
    background-color: #193441;
    color: white;
    padding-top: 10px;
}

.navbar-brand {
    border-right: solid white 1px;
    padding: 0 20px;
    margin-right: 0;
}

a {
    text-decoration: none;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: white;
    background-color: #3E606F;
}

a:hover {
    color: #3E606F;
}

.nav-item {
    text-align: center;
}

.navbar-toggler-icon {
    margin-top: 7px;
}

/* Index page */

.card {
    background-color: #193441;
    margin-top: 7px;
    color: white;
}

.card-title:hover {
    text-decoration: underline;
    color: white;   
}

.top-style {
    margin-top: 85px;
}

.page-link {
    text-decoration: none;
    border: black;
    background-color: #193441;
    color: white;  
}

.page-link:hover {
    background-color: #3E606F;
    color: black;
}

.pagination {
    margin-top: 10px;
    margin-bottom: 7.5px;
}

body {
    height: 100%;
    background-color: #91AA9D;
}

.login-style {
    margin-left: 25%;
}

.button {
    background-color: #193441;
    color: white;
}

.button:hover {
    background-color: #3E606F;
    color: black;
}

.text-link {
    text-decoration: underline;
}

.btn-like {
    background-color: #91AA9D;
    color: black;
    border: None;
}

.search-box {
    position: fixed;
    right: 0px;
    margin-right: 11px;
}

.search-bar {
    height: 38px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-btn {
    border: solid white 1px;
    color: white;
    height: 30px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 4px;
}

.search-btn:hover {
    background-color: #3E606F;
    color: white;
}

.navbar-toggler-style {
    color: white;
}

@media (max-width:992px) {
    .search-box {
        position: relative;
        text-align: center;
    }
}

.image-container {
    height: 190px;
    width: 304px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.card-img-top {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width:1399px) {
    .image-container {
        width: 259px;
    }
}

@media (max-width:1199px) {
    .image-container {
        width: 214px;
    }
}

@media (max-width:767px) {
    .image-container {
        width: 244px;
    }
}

@media (max-width:575px) {
    .image-container {
        width: 100%;
        height: 100%;
    }
}

.detail-top {
    text-align: center;
}

li {
    list-style-type: none;
}

col {
    padding: 0;
}

.recipe-details {
    margin-top: auto;
    margin-bottom: auto;
}

.comment-successful {
    background-color: #3E606F;
    color: white;
}

.btn-signup {
    background-color: #193441;
    color: white;
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn-signup:hover {
    background-color: #3E606F;
    color: white;
}

.form-control-long {
    width: 300px;
}

.form-control-medium {
    width: 100px;
}

.form-control-short {
    width: 60px;
}

.form-style {
    margin-left: 20%;
}

@media (max-width:600px) {
    .form-style {
        margin-left: 10%;
    }
}

@media (max-width:430px) {
    .form-style {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.centered-text {
    text-align: center;
}

@media (max-width:363px) {
    .main-style {
        margin-bottom: 95px;
    }
}