.form-length {
    width: 280.2px;
}

.image-collage {
    margin-top: 76px;
}

.image-second {
    margin-top: 24px;
}

/* This is the base.html styles*/

.top {
    margin-top: 100px;
}

.footer-style {
    background-color: #193441;
    color: white;
    padding-top: 15px;
}

.main-style {
    margin-bottom: 55px;
    padding-top: 2px;
    padding-bottom: 5px;
    background-color: #91AA9D;
    color: black;
}

.navbar {
    padding: 0;
    height: 80px;
    background-color: #193441;
}

.nav-style {
    background-color: #193441;
    color: white;
}

.navbar-brand {
    border-right: solid white 1px;
    padding: 0 20px;
    margin-right: 0;
}

a {
    text-decoration: none;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: white;
    background-color: #3E606F;
}

a:hover {
    color: #3E606F;
}

/* Index page */

.card {
    background-color: #193441;
    margin-top: 7px;
    color: white;
}

.card-title:hover {
    text-decoration: underline;
    color: white;   
}

.top-style {
    margin-top: 85px;
}

.page-link {
    text-decoration: none;
    border: black;
    background-color: #193441;
    color: white;  
}

.page-link:hover {
    background-color: #3E606F;
    color: black;
}

.pagination {
    margin-top: 10px;
    margin-bottom: 7.5px;
}

body {
    height: 100%;
    background-color: #91AA9D;
}

.login-style {
    margin-left: 25%;
}

.button {
    background-color: #193441;
    color: white;
}

.button:hover {
    background-color: #3E606F;
    color: black;
}

.text-link {
    text-decoration: underline;
}

.btn-like {
    background-color: #D1DBBD;
    color: black;
    border: None;
}

.search-box {
    position: fixed;
    right: 0px;
    margin-right: 11px;
}

.search-bar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-btn {
    border: solid white 1px;
    color: white;
    height: 30px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 4px;
}

.search-btn:hover {
    background-color: #3E606F;
    color: white;
}