{% extends "base.html" %}

{% block content %}

<div class="container-fluid image-collage">
    <div class="d-flex flex-wrap justify-content-center">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <img class="img-fluid" src="https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            <img class="img-fluid image-second" src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        </div>
        <div class="col-sm-6 col-md-4 d-none d-sm-block col-lg-3">
            <img class="img-fluid" src="https://images.pexels.com/photos/1199957/pexels-photo-1199957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        </div>
        <div class="col-sm-6 col-md-4 d-none d-sm-none d-md-block col-lg-3">
            <img class="img-fluid" src="https://images.pexels.com/photos/3789885/pexels-photo-3789885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        </div>
        <div class="col-sm-6 col-md-4 d-none d-md-none d-sm-none d-lg-block col-lg-3">
            <img class="img-fluid" src="https://images.pexels.com/photos/2664216/pexels-photo-2664216.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            <img class="img-fluid image-second" src="https://images.pexels.com/photos/1527603/pexels-photo-1527603.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        </div>
    </div>
    </div>
</div>

<h1 class="text-center">Welcome to Recipe Rustlers!</h1>
<p class="text-center">The purpose of this website is to help everyone share and discover their favourite recipies. So go ahead, and rustle up some recipies!</p>

<h2 class="text-center">Twelve Random Recipes</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        {% for post in post_list %}
        <div class="col">
            <div class="card">
                <div class="image-container">
                    {% if "no_image" in post.featured_image.url %}
                    <img src="https://www.firstfence.co.uk/images/no-image.jpg" class="card-img-top">
                    {% else %}
                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                    {% endif %}
                    <div class="card-body">
                        <a href="{% url 'recipe:recipe_detail' post.slug %}"><h5 class="card-title">{{ post.title }}</h5></a>
                    <p class="card-text">Author: {{ post.author }}<br>{{ post.created_on}} 
                        <i class="far fa-heart"></i>
                        {{ post.number_of_likes }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{%endblock%}