{% extends "base.html" %}
{% block content %}


<h2 class="text-center top-style">Your Loved Recipes</h2>
{{post_list}}
{% if user.is_authenticated %}




<div class="container">
    <div class="row row-cols-4">
        {% for post in post_list %}
        <div class="col">
            <div class="card">
                <div class="image-container">
                    {% if "no_image" in post.featured_image.url %}
                    <img src="https://www.firstfence.co.uk/images/no-image.jpg" class="card-img-top">
                    {% else %}
                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                    {% endif %}
                </div>
                <div class="card-body">
                    <a href="{% url 'recipe:recipe_detail' post.slug %}"><h5 class="card-title">{{ post.title }}</h5></a>
                    <p class="card-text">
                        Dish: 
                        {% if post.dish == 0 %}
                        Breakfast
                        {% elif post.dish == 1 %} 
                        Lunch
                        {% elif post.dish == 2 %}
                        Snack
                        {% elif post.dish == 3 %}
                        Dinner
                        {% elif post.dish == 4 %}
                        Dessert
                        {% endif %}
                        <br>Prep: {{ post.prep }} minutes, Cook: {{ post.cook }} minutes<br>Author: {{ post.author }}<br>{{ post.created_on}} 
                        <i class="far fa-heart"></i>
                        {{ post.number_of_likes }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endif %}

                  

{%endblock%}