{% extends "base.html" %}

{% block content %}

<h2 class="text-center">Twelve Random Recipes</h2>

<div class="container">
    <div class="row row-cols-4">
        {% for post in post_list %}
        <div class="col">
            <div class="card">
                <div class="image-container">
                    {% if "no_image" in post.featured_image.url %}
                    <img src="https://www.firstfence.co.uk/images/no-image.jpg" class="card-img-top">
                    {% else %}
                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                    {% endif %}
                    <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">Author: {{ post.author }}<br>{{ post.created_on}} 
                        <i class="far fa-heart"></i>
                        {{ post.number_of_likes }}</p>
                    <a href="{% url 'recipe:recipe_detail' post.slug %}">Go to recipe</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{%endblock%}