{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container top">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h2 class="post-title">{{ post.title }}</h2>
                <p>
                    Posted by: {{ post.author }}
                    <br>
                    Serving size: {{ post.surving }}
                    <br>
                    {{ post.created_on }}, 
                    <strong>
                        {% if user.is_authenticated %}
                        <form action="{% url 'recipe:recipe_like' post.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <button type="submit" name="recipe_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                            {% else %}
                            <button type="submit" name="recipe_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <span class="text-secondary">><i class="far fa-heart"></i></span>
                        {% endif %}
                        {{ post.number_of_likes }}
                    </strong>
                </p>
                <br>
                {% if "no_image" in post.featured_image.url %}
                {% else %}
                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                {% endif %}
                <br>
                <h4>Ingredients:</h4>
                <ul>
                    {% for ingredient in ingredients %}
                    <li>
                    {{ ingredient.ingredientName }} - {{ ingredient.weight }} {{ ingredient.unit }}
                    </li>
                    {% endfor %}
                </ul>
                <br>
                <h4>Instructions:</h4>
                <ul>
                    {% for instruction in instructions %}
                    <li>
                    {{ instruction.step }}. {{ instruction.detail }}
                    </li>
                    {% endfor %}
                </ul>
                <h4>Comments:</h4>
                {% for comment in comments %}
                <p>
                    {{ comment.body }}
                    <br>
                    {{ comment.name }}
                    <br>
                    {{ comment.created_on }}
                    <br>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    {% if commented %}
    <div class="alert alert-success" role="alert">
        You comment has been added!
    </div>
    {% else %}
    {% if user.is_authenticated %}
    <h3>Leave a comment:</h3>
    <p>Posting as: {{ user.username }}</p>
    <form method="post" sty;e="margin-top: 1.3em">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
    </form>
    {% endif %}
    {% endif %}
</div>

{% endblock content %}